{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div id="login-page" class="page active">
        <div class="auth-container">
            <h1>WhatsUp</h1>
            <form method="POST" id="login-form" class="auth-form">
                {% csrf_token %}
                <input type="text" name="{{ form.username.name }}" placeholder="Username" required>
                <input type="password" name="{{ form.password.name }}" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}" id="show-signup">Sign up</a></p>
        </div>
    </div>
{% endblock %}