{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div id="signup-page" class="page active">
        <div class="auth-container">
            <h1>Create Account</h1>
            <form method="POST" id="signup-form" class="auth-form">
                {% csrf_token %}
                <input type="text" name="{{ form.username.name }}" placeholder="Username" required>
                <input type="password" name="{{ form.password1.name }}" placeholder="Password" required>
                <input type="password" name="{{ form.password2.name }}" placeholder="Confirm Password" required>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}" id="show-login">Login</a></p>
        </div>
    </div>
    
{% endblock %}